.jumbotron {
 width: 100%;
 margin-top: -25px;

}

.my-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px
}

.my-container h1 {
  position: relative;
  font-weight: bold;
  color: #00e5e6 !important;
  text-align: center;
 
  z-index: 2;
}

.imagewrapper {
  width: 100%; 
  
}
.imagewrapper img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  height: auto;
  border-radius: 25px;

}

.about img {
  width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.pages {
  .about-image {
    width: 100%;
    margin-top: 20px;
  }
}

.backgroundColor {
    background: #f2f2f2;
}

.logoSize {
  width: 32px;
  height: 32px;
}
.connectWithMe {
  color: white;
}
.contactMe b{
  color: #00e5e6 !important;
}
 

