<div id="push"></div>
<footer class="navbar navbar-default navbar-bottom navbar-inverse">
    <div class="container">
      <div class="connectWithMe">
        <div class="contactMe">
          <h3>Connect with me!</h3>
          Contact me at email: <b>lawrencebass1992@gmail.com</b><br>
          Feel free to add me on Social Media<br><br>
        </div>
          <a href="https://instagram.com/lawbass1992/">
            <%=image_tag("instagram.png", alt: "Instagram")%>
          </a>
          <a href="https://nz.linkedin.com/in/lawrence-bass-1470a961">
            <%=image_tag("linkedin.png", alt: "LinkedIn")%>
          </a>
      </div>
    </div>
</footer>